{% extends 'base.html.twig' %}

{% block title %}Parcourir{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col-6 mx-auto">
            <div class="container">
                <h1>Parcourir</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto">
            <div class="row">
                {% for product in products %}
                    <div class="card col-2 m-1" style="width: 18rem;">
                        <img src="/products/img/{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p>{% if product.price > 0 %}
                                    {{ product.price }} €
                                    {% else %}
                                    Gratuit
                            {% endif %}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
