{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col-6 mx-auto">
            <div class="container">
                <h1>Tableau de bord</h1>
                <a href="{{ path("add_product") }}">+ Ajouter un produit</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto">
            <div class="container">

                <table class="table table-bordered table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Nom de l'objet</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Ajouté le</th>
                        <th scope="col">Retirer de la vente</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="d-flex justify-content-between align-item-center"><p>{{ product.name }}</p> <img class="w-25" src="/products/img/{{ product.image }}"
                                                        alt="{{ product.image }}"></td>
                            <td>{% if product.price > 0 %}
                                    {{ product.price }} €
                                {% else %}
                                    Gratuit
                                {% endif %}</td>
                            <td>{{ product.creationDate|date("d/m/Y") }}</td>
                            <td>
                                {% if product.status == false %}
                                    <form method="post" action="/app/toggle_product">
                                        <input type="hidden" name="productId" value="{{ product.id }}">
                                        <button class="btn btn-success">
                                            Ajouter à la vente
                                        </button>
                                    </form>
                                {% else %}
                                    <form method="post" action="/app/toggle_product">
                                        <input type="hidden" name="productId" value="{{ product.id }}">
                                        <button class="btn btn-danger">
                                            Retirer
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
