{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col-6 mx-auto">
            <div class="container">
                <h1>Tableau de bord</h1>
                <a href="{{ path("add_product") }}">+ Ajouter un produit</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto">
            <div class="container">

                <table class="table table-bordered table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom de l'objet</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Ajouté le</th>
                        <th scope="col">Retirer de la vente</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.name }} <img src="/products/img/{{ product.image }}" alt="{{ product.image }}"></td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.creationDate|date("d/m/Y") }}</td>
                            <td> retirer</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
